@model IEnumerable<VidlyMe.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@{
    if (!Model.Any())
    {
        <p>We don't have any movie in our list.</p>
    }

    else
    {
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Movies
                </th>
                <th>
                    Genre
                </th>
            </tr>
            @foreach (var Movie in Model) 
            {
                <tr>
                    <td>
                        @Html.ActionLink(@Movie.Name, "Details", "Movies", new { id = Movie.Id}, null)
                        @*@Movie.Name*@
                    </td>
                    <td>
                        @Movie.Genre.GenreName
                    </td>
                </tr>
            }

        </table>
    }

}


